run = ["make", "run"]

# If the main file is changed, also change it in Makefile.
entrypoint = "run.sh"
hidden = [".gitignore", ".envhash"]

[nix]
channel = "stable-21_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]
